<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sellcars</title>
    </head>
    <body>
        {% extends 'base.html' %} {% block content %}
        <h1 class="is size-1 title has-text-centered">About</h1>
        <h2 class="is size-2 subtitle has-text-centered">First time Users</h2>
        <h5 class="is size-7 mb-5">We hae been providing this site since 2022. Our company mission is to help users sell and buy cars listed on the site. On this site you are able to list or buy a car by contacting the ad person. Its a free site but inorder to access or sell cars you have to sign in you account. If you dont have an account you can 
            register by clicking sign up in the upper right hand side of the page. To view or search a listing you can do that in the cars page. You can make a add a listing in make listing page.   
        </h5>
            {% endblock %}
    </body>