{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{cars.img}}" alt="{{cars.make}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{cars.year}} {{cars.make}} {{cars.model}}</h1>  
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'car_update' cars.pk %}" class="button is-info"> Updates
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/cars/{{cars.id}}/delete" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4 has-text-right">Price: {{cars.price}}</h4>
        <h4 class="title is-4">Description:</h4>
        <h4 class="is-size-6">{{cars.desc}}</h4>
    </div>
</div>

{% endblock %}