<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sellcars</title>
        
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <section class ="section">
            <div class ="container">
                <div class =columns>
                    <div class ="column is-3">
                        <h1 class="is size-1 title">Welcome to SellCars</h1>
                        <h2 class="is size-2 subtitle">Sellcars</h2>
                        <h5 class="is size-5 mb-5">This site is for sellingcars. Here we allow our users to list their cars for sale. They are also allowed to view the cars they want to
                            potentially buy. New users have to register and sign in inorder to view and list cars. 
                        </h5>
                    </div>
                    <div class ="column is-2">
                        <figure class="image is-16by16">
                        <img src="https://i.imgur.com/4PKBYo6.png"></div>
                    </figure>
                    <div class ="column is-4">
                        <h1 class="is size-1 title">Tips</h1>
                        <h2 class="is size-2 subtitle">First time Buyers</h2>
                        <h5 class="is size-7 mb-5">Being a first time buyer can be daunting. Heres a step by step guide. </br>.check the carfax </br>.get a preinspection </br>.check for leaks
                          </br>.check for engine light </br>.Get previous maintenance records </br>.look for any unusual noises
                        </h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero ">
            <div class="hero-body">
              <div class="container">
                <div class="columns">
                  <div class="column is-8 is-offset-2">
                    <figure class="image is-20by9">
                      <img src="https://i.imgur.com/N7YGHpJ.jpg">
                    </figure>
                  </div>
                </div>
                  <section class="section">
                  <div class="columns">
                    <div class="column is-8 is-offset-2">
                      <div class="content is-medium">
                        <h1 class="title">Sold cars</h1>
                        <p>Since founded we have sold 200000 cars with satisified users on both end. Its free to list your car. No fees, no middle man, get in contact with the owner directly and purchase your car.
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
               <div class="is-divider"></div>
                <section class="section">
                  <div class="columns">
                    <div class="column is-8 is-offset-2">
                      <div class="content is-medium">
                       <h1 class="title">Testimonials</h1>
                        <h2 class="subtitle is-4">June 6 2022</h2>
                            <p>Listed a car for sale on this site sold within 3 days. Highly recommand</p>
                      </div>
                    </div>
                  </div>
                </section>
                <footer class="footer">
                    <div class="content has-text-centered">
                      <p class="is size-6 ">
                         @copyright SellCars 2023. Webpage for selling Cars.
                      </p>
                    </div>
                  </footer>
              </div>
            </div>
          </section>
        {% endblock %}
    </body>
</html>