<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sellcars</title>
        
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <section class ="section">
            <div class ="container">
                <div class =columns>
                    <div class ="column is-3 ml-6">
                        <h1 class="is size-1 title">Welcome to SellCars</h1>
                        <h2 class="is size-2 subtitle">Sellcars</h2>
                        <h5 class="is size-5 mb-5">This site is for sellingcars. Here we allow our users to list their cars for sale. They are also allowed to view the cars they want to
                            potentially buy. New users have to register and sign in inorder to view and list cars. 
                        </h5>
                    </div>
                    <div class ="column is-2 ml-6">
                        <figure class="image is-16by16">
                        <img src="https://i.imgur.com/4PKBYo6.png"></div>
                    </figure>
                    <div class ="column is-5 ml-6">
                        <h1 class="is size-1 title">Tips</h1>
                        <h2 class="is size-2 subtitle">First time Buyers</h2>
                        <h5 class="is size-7 mb-5">Being a first time buyer can be daunting. Heres a step by step guide. </br>.check the carfax </br>.get a preinspection </br>.check for leaks
                          </br>.check for engine light </br>.Get previous maintenance records </br>.look for any unusual noises
                        </h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero ">
            <div class="hero-body">
              <div class="container">
                <div class="columns">
                  <div class="column is-8 is-offset-2">
                    <figure class="image is-20by20">
                      <img src="https://i.imgur.com/N7YGHpJ.jpg">
                    </figure>
                  </div>
                </div>
                <section class="categories">
                    <div class="columns is-multiline">
                      <div class="column is-6">
                        <div class="category">
                          <h1 class="title is-5">
                            Signing up/ Accounts 
                          </h1>
                          <hr />
                          <ul>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              Sign up click on sign up in the upper righthand corner
                            </li>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              It is free to sign up
                            </li>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              To view cars you have to sign up
                            </li>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              To list cars you have to sign up
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="category">
                          <h1 class="title is-5">
                            FAQs 
                          </h1>
                          <hr />
                          <ul>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              Why can't I see view cars?</br>
                              You have to signup or login in order to view listings.
                            </li>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              Why can't I see list cars?</br>
                              You have to signup or login in order to view listings.
                            </li>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              How to I make a listing? </br>
                              By clicking on make listing 
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="category">
                          <h1 class="title is-5">
                            Testimonials 
                          </h1>
                          <hr />
                          <ul>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              Car sold within 3days of being listed highly recommend!
                            </li>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              Free and easy to use 5/5!
                            </li>
                            <li>
                              <i class="fas fa-xs icon-padding-right" /></i>
                              Site is easy to navigate
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="category">
                          <h1 class="title is-5">
                            Guide for users 
                          </h1>
                          <hr />
                          <ul>
                            <li>
                              <i class="fas  fa-xs icon-padding-right" /></i>
                              Remember to sign in to see or list cars
                            </li>
                            <li>
                              <i class="fas  fa-xs icon-padding-right" /></i>
                              Pick a user or password you will Remember
                            </li>
                            <li>
                              <i class="fas  fa-xs icon-padding-right" /></i>
                              Remember to logout
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                </section>
                <footer class="footer">
                    <div class="content has-text-centered">
                      <p class="is size-6 ">
                         @copyright SellCars 2023. Webpage for selling Cars.
                      </p>
                    </div>
                  </footer>
              </div>
            </div>
          </section>
        {% endblock %}
    </body>
</html>