.title {
    color: white;
}

h1,h2,h3 {
    color: whitesmoke;
}
body {
    background-color: gray;
    color: whitesmoke;
    min-height: 115vh;
}

p {
    font-size: 10px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-content: center;
    gap: 35px;
}

.gallery .card {
    transition: .3s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

